.sidebar-right {
  position: fixed;
  right: 0;
  z-index: 10;

  flex-shrink: 0;

  &--box-model {
    width: 320px;
  }
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1439.9px) {
  .sidebar-right {
    &--box-model {
      width: 440px;
    }
  }
}
