.equipments-slider {
  &__slide {
    @extend .brands-slider__slide;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__slide-item:first-child {
    @extend .brands-slider__slide-item;
    padding-top: 16px;
    align-self: flex-start;
  }
  &__slide-item:last-child {
    @extend .brands-slider__slide-item;
    padding-bottom: 16px;
    align-self: flex-end;
  }

  &--collapsed {
    .swiper-slide--hidden {
      display: none;
    }
  }
  &--expanded {
    .swiper-slide--hidden {
      display: flex;
    }
  }
}
