.b-brand-slider {
  &__e-wrapper {
    margin: 0 0 16px 16px;
  }

  &__e-slide {
    width: 224px;
    height: 72px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 6px;
    border: 1px solid #eaeaea;
    background: #fff;

    & > img {
      padding-left: 16px;
    }
    & > a {
      padding-right: 16px;
      display: inherit;
      align-items: inherit;
    }
  }

  &__e-more-btn {
    margin-left: 24px;
    display: flex;
    align-items: center;

    color: #1b1c21;
    font-family: TT Lakes Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;

    &--show {
      .b-brand-slider {
        &__e-more-icon:nth-child(1) {
          display: flex;
        }
        &__e-more-icon:nth-child(2) {
          display: none;
        }
      }
    }
    &--hide {
      .b-brand-slider {
        &__e-more-icon:nth-child(1) {
          display: none;
        }
        &__e-more-icon:nth-child(2) {
          display: flex;
        }
      }
    }
  }

  &__e-pagination {
    position: static;
  }

  &--collapse {
    .b-brand-slider {
      &__e-slide--hidden {
        display: none;
      }
    }
  }
  &--expand {
    .b-brand-slider {
      &__e-wrapper {
        margin-bottom: 46px;
      }
      &__e-slide--hidden {
        display: flex;
      }
    }
  }
}

/* ----- Swiper-classes ----- */
.b-brand-slider {
  .swiper {
    &-pagination-bullet {
      margin: 6px !important;
      width: 12px;
      height: 12px;
      background-color: #dddddd;
      opacity: 1;

      &-active {
        background-color: #b5b6bc;
      }
    }
  }
}

/* ---- MOBILE ---- */
@media screen and (max-width: 767.9px) {
  .b-brand-slider {
    &__e-more-btn {
      display: none;
    }

    &--expand {
      .b-brand-slider {
        &__e-wrapper {
          margin-bottom: 16px;
        }
      }
    }
  }
}

/* ---- TABLET ---- */
@media screen and (min-width: 767.9px) and (max-width: 1119.9px) {
  .b-brand-slider {
    &__e-wrapper {
      margin: 0 24px 24px 24px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px 24px;
    }

    &__e-slide:nth-child(4n) {
      display: none;
    }

    &--expand {
      .b-brand-slider {
        &__e-wrapper {
          margin-bottom: 46px;
        }
        &__e-slide--hidden {
          display: flex;
        }
        &__e-slide:nth-child(4n) {
          display: flex;
        }
      }
    }
  }
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1120px) {
  .b-brand-slider {
    position: relative;

    &__e-wrapper {
      margin: 0 32px 24px 32px;
      display: flex;
      flex-wrap: wrap;
      gap: 16px 32px;
    }

    &__e-slide {
      width: 240px;
    }

    &__e-more-btn {
      margin-left: 32px;
    }
  }
}
