.prices-slider {
  &__slide {
    height: 200px;
    width: 260px;
    position: relative;

    display: flex;
    flex-direction: column;

    border-radius: 6px;
    background: #fff;
    @include slide-prices-font;
  }

  &__slide-item-container {
    display: flex;
    flex-direction: column;

    &:nth-child(1) {
      margin-top: 16px;
      margin-left: 16px;
      margin-bottom: auto;
    }
    &:nth-child(2),
    &:nth-child(3) {
      margin-left: 16px;
      margin-bottom: 16px;
    }
  }

  &__slide-subtitle {
    margin-bottom: 4px;
    @include prices-subtitle-font;
  }

  &__slide-order {
    width: 119px;
    height: 32px;
    margin: 0 16px 16px 0;
    position: absolute;
    bottom: 0;

    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;

    flex-shrink: 0;
    border-radius: 16px;
    background: #ff3e79;
    @include slide-order-font;
  }

  &__order-item {
    &:first-child {
      margin-top: 2px;
      margin-left: 12px;
    }
    &:last-child {
      margin-right: 4px;
    }
  }
}

/* ---- MOBILE ---- */
@media screen and (max-width: 767.9px) {
  .prices-slider {
    &__table {
      display: none;
    }
  }
}

/* ---- TABLET ---- */
@media screen and (min-width: 767.9px) {
  .prices-slider {
    .prices-slider &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    &__table {
      height: 1em;
      margin-bottom: 16px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include prices-subtitle-font;

      .prices-slider {
        &__slide-item-container:last-child {
          visibility: hidden;
        }
      }
    }

    &__slide {
      height: 64px;
      width: 100%;
      justify-content: space-between;

      display: flex;
      flex-direction: row;
      align-items: center;

      border-radius: 0px;
      background: #fff;
      @include slide-prices-font;

      &::after {
        width: calc(100% - (16px * 2));
        height: 1px;

        position: absolute;
        left: 16px;
        bottom: 0;

        flex-shrink: 0;
        content: "";
        background-color: #eaeaea;
      }

      &:last-child::after {
        display: none;
      }
    }

    &__slide-item-container {
      flex-direction: row;

      &:nth-child(-n + 3) {
        margin-left: 0;
      }
      &:nth-child(1) {
        width: 370px;
        margin: 0 0 0 16px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: 100px;
        margin-bottom: 0;
      }
      &:nth-child(4) {
        width: auto;
        margin-right: 16px;
      }
    }

    &__slide-subtitle {
      display: none;
    }

    &__slide-order {
      width: 119px;
      height: 32px;
      margin: 0;
      position: static;

      display: flex;
      align-items: center;
      justify-content: space-between;
      align-self: auto;

      flex-shrink: 0;
      border-radius: 16px;
      background: #ff3e79;
      @include slide-order-font;
    }
    &__order-item {
      &:first-child {
        margin-top: 2px;
        margin-left: 12px;
      }
      &:last-child {
        margin-right: 4px;
      }
    }
  }
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1120px) {
  .prices-slider {
    &__slide {
      &::after {
        width: calc(100% - (24px * 2));
        left: 24px;
      }
    }

    &__slide-item-container {
      &:nth-child(1) {
        margin-left: 24px;
      }
      &:nth-child(4) {
        margin-right: 24px;
      }
    }
  }
}
