.brands {
  background-color: #f8f8f8;

  &__title {
    height: 80px;
    margin-bottom: 16px;
    display: flex;
    flex-shrink: 0;
    align-items: center;

    color: #7e7e82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    background: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);

    & > h2 {
      margin-left: 16px;
    }
  }

  &::before {
    @include aqua-divider;
  }

  &--box-model {
    position: relative;
    padding-bottom: 24px;
  }
}

/* ---- MOBILE ---- */
@media screen and (max-width: 767.9px) {
  .brands {
    &__fade {
      width: 24px;
      height: 81px;
      flex-shrink: 0;
      position: absolute;
      right: 0;
      bottom: 65px;
      z-index: 10;
      background: linear-gradient(
        270deg,
        #f8f8f8 16.84%,
        rgba(248, 248, 248, 0) 100%
      );
    }
  }
}

/* ---- TABLET ---- */
@media screen and (min-width: 767.9px) and (max-width: 1439.9px) {
  .brands {
    &__title {
      margin-bottom: 24px;

      & > h2 {
        margin-left: 24px;
      }
    }

    &--box-model {
      padding-bottom: 32px;
    }
  }
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1439.9px) {
  .brands {
    &__title {
      margin-bottom: 40px;

      & > h2 {
        margin-left: 32px;
      }
    }

    &--box-model {
      padding-bottom: 50px;
    }
  }
}
