.menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;

  &__item {
    color: #1b1c21;
    font-family: TT Lakes Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
    transition: transform 0.3s;

    &:hover:not(&--active),
    &:focus:not(&--active) {
      opacity: 0.5;
    }

    &--active {
      display: flex;
      align-items: center;

      color: #7e7e82;
      font-family: TT Lakes;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.2px;

      &::before {
        position: absolute;
        left: 0;
        content: "";
        width: 4px;
        height: 32px;
        flex-shrink: 0;
        background-image: url("../../../../assets/img/highlight.svg");
      }
    }
  }

  &--box-model {
    margin: 0 0 32px 24px;
  }
}

/* ---- MOBILE ---- */
@media screen and (max-width: 767.9px) {
  .menu-list {
    gap: 24px;

    &--box-model {
      margin: 0 0 32px 16px;
    }
  }
}

/* ---- TABLET ---- */
@media screen and (min-width: 767.9px) and (max-width: 1023.9px) {
  //
}

/* ---- LAPTOP ---- */
@media screen and (min-width: 1366px) {
  .menu-list {
    gap: 28px;

    &--box-model {
      margin: 0 0 32px 24px;
    }
  }
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1439.9px) {
  // .menu-list {
  //   gap: 28px;

  //   &--box-model {
  //     margin: 0 0 32px 24px;
  //   }
  // }
}
