.b-sidebar-top {
  display: flex;
  align-items: center;

  &__e-logo {
    margin-right: auto;
  }
  &__e-icon:nth-child(1) {
    margin-right: 16px;
  }

  &--box-model {
    margin: 18px 24px 46px;
  }
}

/* ---- MOBILE ---- */
@media screen and (max-width: 767.9px) {
  .b-sidebar-top {
    &--box-model {
      margin: 18px 16px 26px;
    }
  }
}

/* ---- TABLET ---- */
@media screen and (min-width: 767.9px) and (max-width: 1023.9px) {
  .b-sidebar-top {
    &--box-model {
      margin-bottom: 50px;
    }
  }
}

/* ---- LAPTOP ---- */
@media screen and (min-width: 1023.9px) {
  //
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1439.9px) {
  .b-sidebar-top {
    &__e-icon:nth-child(1) {
      display: none;
    }

    &--box-model {
      margin: 30px 30px 38px 22px;
    }
  }
}
