.sidebar-backdrop {
  opacity: 0.9605;
  background: #fff;

  &--box-model {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 5;
  }

  &--active {
    transform: translateX(0);
    transition: transform 0.3s ease;
  }
  &--hidden {
    transform: translateX(-3600px);
    transition: transform 0.3s ease;
  }
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1439.9px) {
  .sidebar-backdrop {
    display: none;
  }
}
