.b-slide-menu {
  &__e-fade {
    width: 24px;
    height: 40px;
    left: auto;
    right: 0;
    bottom: 0;
    flex-shrink: 0;
    position: absolute;
    // prettier-ignore
    background: linear-gradient(270deg,#f8f8f8 16.84%,rgba(248, 248, 248, 0) 100%);
  }
  &--box-model {
    position: relative;
    margin-left: 16px;
    margin-bottom: 24px;
  }
}

/* ---- MOBILE ---- */
@media screen and (max-width: 767.9px) {
  //
}

/* ---- TABLET ---- */
@media screen and (min-width: 767.9px) and (max-width: 1023.9px) {
  .b-slide-menu {
    &--box-model {
      margin-left: 24px;
      margin-bottom: 32px;
    }
  }
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1023.9px) {
  .b-slide-menu {
    &__e-fade {
      display: none;
    }

    &--box-model {
      margin-left: 32px;
      margin-bottom: 20px;
    }
  }
}
