.b-contacts {
  &__e-icons {
    margin-bottom: 16px;
  }
  &__e-icon {
    margin-right: 16px;
  }

  &__e-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__e-mail {
    color: #1b1c21;
    font-family: TT Lakes Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.2px;
  }
  &__e-phone {
    color: #1b1c21;
    font-family: TT Lakes Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
    letter-spacing: -0.6px;
  }

  &--box-model {
    margin: auto 0 40px 24px;
  }
}

/* ---- MOBILE ---- */
@media screen and (max-width: 767.9px) {
  .b-contacts {
    &--box-model {
      margin: auto 0 8px 16px;
    }
  }
}

/* ---- TABLET ---- */
@media screen and (min-width: 767.9px) and (max-width: 1023.9px) {
  //
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1023.9px) {
  //
}
