@import "~normalize.css";
@import "~swiper/css" screen and (max-width: 767.9px);
@import "~swiper/css/navigation" screen and (max-width: 767.9px);
@import "~swiper/css/pagination" screen and (max-width: 767.9px);

@import "./app/style/reset";
@import "./app/style/fonts";
@import "./app/style/var";

@import "./app/components/l-main-container/l-main-container.scss";
@import "./app/components/l-aside-container/l-aside-container.scss";

/* ---- DESKTOP ---- */
@media screen and (min-width: 1439.9px) {
  body {
    display: flex;

    .l-main-content {
      flex-direction: column;
    }

    .l-aside-container {
      display: flex;
      flex-direction: column;
      background: #fff;
      order: -1;
    }
  }
}

/* !----- DEVELOP_MODE -----! */
.l-aside-container {
  display: none !important;
}
