@import "~normalize.css";
@import "~swiper/css" screen and (max-width: 767.9px);
@import "~swiper/css/navigation" screen and (max-width: 767.9px);
@import "~swiper/css/pagination" screen and (max-width: 767.9px);

@import "./app/style/reset";
@import "./app/style/fonts";
@import "./app/style/var";

@import "./app/components/main-container/main-container.scss";
@import "./app/components/aside-container/aside-container.scss";

.body {
  &--scroll {
    &--unlock {
      overflow: auto;
    }
    &--lock {
      overflow: hidden;
    }
  }
}
footer {
  overflow-x: hidden;
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1439.9px) {
  body {
    display: flex;

    .main-content {
      flex-direction: column;
    }

    .aside-container {
      display: flex;
      flex-direction: column;
      background: #fff;
      order: -1;
    }
  }
}
