.b-brands {
  background-color: #f8f8f8;

  &__title {
    height: 80px;
    margin-bottom: 16px;
    display: flex;
    flex-shrink: 0;
    align-items: center;

    color: #7e7e82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    background: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);

    & > span {
      margin-left: 16px;
    }
  }

  &--box-model {
    padding-bottom: 24px;
  }
}

/* ---- MOBILE ---- */
@media screen and (max-width: 767.9px) {
  .b-brands {
    &__e-fade {
      width: 24px;
      height: 81px;
      flex-shrink: 0;
      position: absolute;
      right: 0;
      bottom: 60px;
      z-index: 10;
      // prettier-ignore
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
    }

    &--box-model {
      position: relative;
    }
  }
}

/* ---- TABLET ---- */
@media screen and (min-width: 767.9px) and (max-width: 1119.9px) {
  .b-brands {
    &__title {
      margin-bottom: 24px;

      & > span {
        margin-left: 24px;
      }
    }

    &--box-model {
      padding-bottom: 32px;
    }
  }
}

/* ---- DESKTOP ---- */
@media screen and (min-width: 1120px) {
  .b-brands {
    &__title {
      margin-bottom: 40px;

      & > span {
        margin-left: 32px;
      }
    }

    &--box-model {
      padding-bottom: 50px;
    }
  }
}
